.login {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    max-width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.login_form {
    width: 95%;
    margin-top: 100px;
    padding: 10px;
    border: rgb(179, 119, 71) solid 2px;
    border-radius: 10px;
    background-color: rgb(179, 138, 105, 0.8);
}

.form-control {
    width: 300px;
}