.newtemplate {
    width: 100%;
    margin: 0 auto;
    padding: 3px;
    font-family: 'Courier New', Courier, monospace;
 }
 
 .newtemplate::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(213, 243, 210, 0.52), rgba(13, 86, 18, 0.73)), url("../images/dumbbell.png");
    opacity: .4;
    background-repeat:repeat;
    background-size:50px;
    z-index: -1;
 }

 .newtemplate_header {
    position: sticky;
    height: 50px;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0px;
    align-items: center;
    justify-content: space-between;
    border: rgb(13, 99, 39) solid 1px;
    background-color: rgb(91, 160, 91);
    border-radius: 15px;
    color: black;
 }

 .temp_header_text {
    font-weight: bold;
    font-size: 12pt;
 }

 .save_button, .x_button  {
    width: auto;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;  
 }

 .newtemplate_content {
   display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    padding: 0px;
    align-items: flex-start;
    justify-content: center;
   height: calc(100vh - 180px);
   overflow-y: scroll;
}

.newtemplate_content_form {
   display: flex;
   flex-direction: row;
   align-items: left;
   justify-content: flex-start;
   width: 100%;
   margin: 5px;
   padding: 0;
   border: black solid 1px;
   border-radius: 10px;
}

.newtemplate_content_header {
   display: flex;
   flex-direction: row;
   align-items: left;
   justify-content: flex-start;
   margin: 5px;
   padding: 0;
   width: 100%;
}
.newtemplate_content_name {
   padding-top: 10px;
   padding-left: 20px;
}
.newtemplate_name_input {
   background-color: lightgreen;
   font-weight: bold;
}

.newtemplate_content_add {
   display: flex;
   flex-direction: row;
   align-items: left;
   justify-content: center;
   margin: 5px;
   padding: 0;
   width: 100%;
}

.newtemplate_content_add_button {
   display: flex;
   flex-direction: row;
   align-items: left;
   justify-content: center;
   margin: 5px;
   padding: 0;
   width: 100%;
}

.newtemplate_add_button {
   width: auto;
   height: 100%;
   background-color:  rgb(91, 160, 91);;
   outline: none;
   border-radius: 10px;
   cursor: pointer;
   font-weight: bold;
}

#exerciseModal {
   margin-top: 100px;
}
.modal-content {
   background-color: lightgreen;
}
.select_exer {
   width: 98%;
   overflow: auto;
   font-weight: bold !important;
}

