.search {
   width: 100%;
   margin: 0 auto;
   padding: 3px;
   font-family: 'Courier New', Courier, monospace;
}

.search::before {
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   background-image: linear-gradient(to bottom, rgba(213, 243, 210, 0.52), rgba(13, 86, 18, 0.73)), url("../images/dumbbell.png");
   opacity: .4;
   background-repeat:repeat;
   background-size:50px;
   z-index: -1;
}
.search_select {
   position: sticky;
   height: 100px;
   display: flex;
   flex-direction: column;
   width: 100%;
   margin: 0;
   padding: 1px;
   align-items: center;
   justify-content: center;
   border: rgb(13, 99, 39) solid 1px;
   background-color: #9e5f2f;
   border-radius: 15px;
   font-size: 11pt !important;
   color: black;
}

.filter, .options {
   display: flex;
   flex-direction: row;
   width: 100%;
   align-items: center;
   padding: 1px;
   justify-content: center;
}

.search_exercises {
   display: flex;
   flex-direction: row;
   width: 100%;
   margin: auto;
   padding: 8px;
   align-items: flex-start;
   justify-content: center;
   max-height: calc(100vh - 230px);
   overflow-y: scroll;
}

.exercise {
   display: flex;
   flex-direction: row;
   width: 100%;
   margin: 3px;
   padding: 5px;
   align-items: center;
   color: white;
   background-color: rgb(179, 165, 153, 0.8);
   border: black solid 1px;
   border-radius: 15px;
   
}
.first, .second, .third, .fourth {
   background-color: rgb(179, 119, 71, 0.8);
   margin: auto;
   margin-top: 2px;
   border-radius: 5px;
   color: black;
   opacity: .7;
   font-size: 11pt !important;
   font-weight: bold;
}
.name, .body, .equipment, .target {
   text-decoration: underline;
}
img {
   display: block;
   width: auto;
   height: auto; 
   max-width: 95%;
   max-height: 95%;
   border-radius: 5px;
   filter: drop-shadow(10px 10px 10px brown) invert(0%);
}